.base-card {
    width: 100px;
    height: 100px;
    display: inline-flex;
    border-radius: 8px;
    border: 2px solid #00a4ff;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
    cursor: pointer;
    text-align: center;
    opacity: 50%;
}

.active {
    opacity: 100%;
}
